@model DataAccess.Admin
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "ChangeSetting";
}

<h2>ChangeSetting</h2>

<div class="container">
    @using (Html.BeginForm("ChangeSetting", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">

                <input type="text" value="@Model.FirstName" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">

                <input type="text" value="@Model.LastName" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            @Html.HiddenFor(a => a.Email)
        </div>
        <div class="col-md-5 col-md-offset-2">
            <input type="submit" class="btn btn-info" value="Save Changes" />
            <a href="@Url.Action("Index","Home")" class="btn btn-danger">Cancel</a>
        </div>

    </div>
    }
</div>