<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/Buttonstyle.css">
    
</head>
<body style="background-color:#68757c;">



    <div class="wrapper">

        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Face IT</h3>
                <strong>Admin</strong>
            </div>

            <ul class="list-unstyled components">

                <li class="admin-title">
                    <h3>Admin</h3>
                </li>

                <li class="admin-box">
                    <img src="~/Image/Profile picture.jpg">
                    <h4>@System.Web.HttpContext.Current.User.Identity.Name</h4>
                    
                    <a href="">
                        <i class="glyphicon glyphicon-user" title="Profile"></i>
                    </a>
                    <a href="@Url.Action("ChangeSetting","Account")">
                        <i class="glyphicon glyphicon-cog" title="Change setting"></i>
                    </a>
                    <a href="@Url.Action("Logout","Account")">
                        <i class="glyphicon glyphicon-off" title="Log Out"></i>
                    </a>
                </li>

                

                <li>
                    <a href="@Url.Action("NewCelebrity","Celebrity")">
                        <i class="glyphicon glyphicon-user"></i>
                        Create Celebrity
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("Search","Celebrity")">
                        <i class="glyphicon glyphicon-search"></i>
                        Celebrity
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Search","User")">
                        <i class="glyphicon glyphicon-search"></i>
                        Users
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("celebritySuggestionList","SuggestionReport")">
                        <i class="glyphicon glyphicon-globe"></i>
                        Celebrity Suggetion
                    </a>
                </li>
                <li>
                    
                    <a href="@Url.Action("ReportedList","Report")">
                        <i class="glyphicon glyphicon-globe"></i>
                        User Report
                    </a>
                </li>

            </ul>
        </nav>

        <!-- Page Content Holder -->
        <div id="content">
            <div id="navigation">
                <nav class="navbar navbar-default" style="background: linear-gradient(to bottom left, #3db9e2, #3888c4, #2277b7);">

                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn navbar-btn" style="background:linear-gradient(#2f85af, #3076d1);">
                            <i class="glyphicon glyphicon-menu-hamburger"></i>

                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <form class="navbar-form navbar-left">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for...">
                                <span class="input-group-btn">
                                    <button class="btn btn-info" type="button">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                        
                        <ul class="nav navbar-nav navbar-right">


                            <li><a href="@Url.Action("Register","Account")" style="color: #fff;">Sign Up</a></li>



                        </ul>
                    </div><!-- /.navbar-collapse -->

                </nav>
            </div>

            @RenderBody()



        </div>
    </div>






    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">


             $(document).ready(function () {
                 $('#sidebarCollapse').on('click', function () {
                     $('#sidebar').toggleClass('active');
                     $('#content').toggleClass('active');
                     $('#navigation').toggleClass('active');
                 });
             });
    </script>
</body>
</html>
